
@font-face {
    font-family: '맑은 고딕';
    font-weight: normal;
    font-style: normal;
    src: url('font/MalgunGothic.eot'); /* IE9 Compat Modes */
    src: url('font/MalgunGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('font/MalgunGothic.otf') format('opentype'), /* Android, iOS */
            url('font/MalgunGothic.woff2') format('woff2'), /* Super Modern Browsers */
            url('font/MalgunGothic.woff') format('woff'), /* Pretty Modern Browsers */
            url('font/MalgunGothic.ttf')  format('truetype'); /* Safari, Android, iOS */
    
}